<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090781289048-6pcut76ugpjr6qe23pbms5rmqhq0h9df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090781289048-6pcut76ugpjr6qe23pbms5rmqhq0h9df</string>
	<key>API_KEY</key>
	<string>AIzaSyAUXYsks6xXtwjImr1EWNYsO8rT-JQ-Gdc</string>
	<key>GCM_SENDER_ID</key>
	<string>1090781289048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Petminder.Petminder</string>
	<key>PROJECT_ID</key>
	<string>petminder-98607</string>
	<key>STORAGE_BUCKET</key>
	<string>petminder-98607.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090781289048:ios:59fd4fc5218050d57e082d</string>
	<key>DATABASE_URL</key>
	<string>https://petminder-98607.firebaseio.com</string>
</dict>
</plist>